@charset "utf-8";
/*********        Hack:Vuetify        *********/
a{
	cursor: pointer;
}
.application{
	font-family: 'Noto Sans Japanese', 'メイリオ', Meiryo, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
}
[v-cloak]{
	display: none;
}
.breadcrumbs{
	justify-content: flex-start;
}
.breadcrumbs__item{
	font-size: 12px;
}
.input-group__hint:before{
	content: "(";
}
.input-group__hint:after{
	content: ")";
}
.btn{
	text-transform: none;
}
.icon.initial,
.material-icons.initial{
	font-size: 100%;
}
